<!DOCTYPE html>
<html>

   <head>
      <title>Shorten My URL, By Dom.Farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@jscodebook">
      <meta name="twitter:creator" content="@jscodebook">
      <meta name="twitter:title" content="A URL Shortener Microservice By dom.farnham('@JSCodebook')">
      <meta name="twitter:description" content="A microservice which takes a URL, passed as a parameter to the API, and then responds with a shortened URL in JSON.">
      <meta name="twitter:image" content="https://cdn.glitch.com/a4cdead1-9b96-428b-829f-c3fbf04a5bcf%2Fshorten-my-url.png?1503089713866">
   </head>

   <body>
      <div class="container">
        <h1>A URL Shortener Microservice By dom.farnham('<a href="https://twitter.com/JSCodebook">@JSCodebook</a>')</h1>
        <p>
          A microservice which takes a URL, passed as a parameter to the API, and then responds with a shortened URL in JSON.
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          <a href="https://shorten-my-url.glitch.me/api/https://www.google.com">https://shorten-my-url.glitch.me/api/https://www.google.com</a>
        </p>
        <h4>
          Example output:
        </h4>
        <p>
          {"originalURL":"https://www.google.com", "shortURL":"https://shorten-my-url.glitch.me/1000"}
        </p>
        <h4>
          Demo:
        </h4>
        <p>
          <a href="https://shorten-my-url.glitch.me/1000">https://shorten-my-url.glitch.me/1000</a> redirects to https://www.google.com 
        </p>
        <h2>
          <a href="mailto:dom@jscodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
